@model IEnumerable<Service>
@{
    ViewData["Title"] = "Index";
    var count = 1;
}

<h1>Services</h1>
<a asp-action="Create" class="btn btn-success">Create Service</a>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Subtitle</th>
            <th scope="col">Description</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
        <tr>
            <th scope="row">@count</th>
            <td>
                <img src="~/images/@service.Url" alt="Alternate Text" />
            </td>
            <td>@service.Title</td>
            <td>@service.Subtitle</td>
            <td>@service.Description</td>
            <td>
                <a class="btn btn-sm btn-warning"  asp-action="Update" asp-route-id="@service.Id"><i class="mdi mdi-pencil"></i></a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@service.Id"><i class="mdi mdi-delete"></i></a>
            </td>
        </tr>
            count++;
        }
    </tbody>
</table>

